body {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  background: no-repeat linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

h1{
  color:#fff;
}

.current-temp-image {
    width: 200px;
  }

  #weather-conditions{
    text-transform: capitalize;

  }

  #city-displayed{
    text-transform: capitalize;
  }